.hero {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heroContent {
    color: #cff5e7;
    text-align: center;
    margin-bottom: 2rem;
}

.heroDescription {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 2rem;
    /* color: #3A8694; */
    color: #2B3D7B;
}

.title {
    font-weight: 900;
    font-size: 72px;
    color: #cff5e7;
}

@media (max-width: 1000px) {
    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
}